SimpleClient/Service References/MyService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StockFinder" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StockFinder" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StockInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Symbol" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockInfo" nillable="true" type="tns:StockInfo" />
</xs:schema>